@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.content{
    font-family: 'Open Sans', sans-serif;
}

iframe::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
